<html>
    <head>
    </head>
    <form>
        <body>
            <div class="container1">
                  <img src="/images/shopcart.png" width="100px;" height="75px;" >
                  <div style="font-size: 30px; font-weight: bold margin-top 2px;">
                  <div style="padding-top: 18px; padding-left: 60px;">
                  <div style="padding-top: 12px; padding-left: 15px;">
                  <div style="padding-top: 15px; padding-left: 30px;">
                  <div style="padding-top:  20px; padding-left: 5px;">
                  <div style="padding-top: 15px; padding-left: 30px;">
                  <div style="padding-top: 17px; padding-left: 30px;">
                  <div style="padding-top: 17px; padding-left: 30px;">
                  <div style="padding-top: 13px; padding-left: 25px;">
                     </div>
                     <div class="container2">
                     <div  class="box1">
                     <div style="display: flex;flex-direction: row">
                      <div style="padding-top: 19px; padding-left: 20px;">
                      <div style="padding-top: 21px; padding-left: 5px;">
                       </div>
                      <div style="display: flex;flex-direction: row" class="gap">
                       <div style="font-size: 18px; padding-left: 25px;font-weight: 600;"><a href="products/frontpage" target="frame" style="text-decoration: none;">Dashboard</a></div>
                        <div style=" padding-left: 92px; padding-top: 1px;"><img src="/images/home.png" height="25px;" width="30"></div>
                          </div>
                          <div style="display: flex;flex-direction: row" class="gap">
                           <div style="font-size: 18px; padding-left: 25px;font-weight: 600px;">products</div>
                          <div style=" padding-left: 110px; padding-top: 1px;"><img src="/images/products.png" height="25px;" width="30px;"></div>
                            </div>
                               <div style="display: flex;flex-direction: row" class="gap">
                              <div style="font-size: 18px; padding-left: 25px;font-weight: 600px;"> Display products</div>
                                <div style=" padding-left: 55px; padding-top: 1px;"><img src="/images/display.png" heighti="25px;" width="30px;"></div>
                                 </div>
                                 <div style="display: flex;flex-direction: row" class="gap">
                                <div style="font-size: 18px; padding-left: 25px;font-weight:600;">documentation</div>
                                <div style=" padding-left: 130px; padding-top: 1px;"><img src="/images/display.png" height="25px;" width="30px;"></div>
                                  </div>
                                  </div>
                                  <div class="box2">
                                    <iframe frameborder="0" name="frame"  width="100%" height="90%">
                                      </iframe>
                                      </div>
                                      </div>
                                    </body>
                                    </form>
                                    </html>













