<html>
    <center>
        <form action="/products/edit_picture" method="post" enctype="multipart/form-data">
            <h1><%=data.productname %></h1>
            <img src="/images/<%=data.picture %>" width="300">><br>
            <b> select new picture you want to upload...</b><br><br>
            <input type="file" name="productpicture" required><br><br>
            <input type="hidden" name="oldfilename" value="<%=data.picture %>"><br>
            <input type="hidden" name="productid" value="<%=data.productid %>"><br>
           <input type="submit" value="Upload New Image">

        </form>
    </center>
</html>
